<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/books-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Books</h1>
                        <hr class="small">
                        <span class="subheading">A list of books I've read</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
     <% @books.each do |book| %>
                <div class="container">
                        <figure class="abook" data-rating="10" data-title="So Good They Can't Ignore You - by Cal Newport" data-date="2012-10-07">
                            <a href="#" style="float:left;padding-right: 15px;"> <%= image_tag book_thumbnail(book) %></a>
                            <figcaption>
                                <h3><a href="#"><%= book_title(book) %></a>


                                    <% if book.status == "In Progress" %>
                                        <span class="label label-warning" style="margin-left: 15px;
"><%= book.status %></span></h3> 
                                    <% else %>
                                        <span class="label label-success" style="margin-left: 15px;
"><%= book.status %></span></h3> 
                                    <% end %>
                        

                                <p>ISBN: <%= book.isbn %> READ: 
                                    <% if book.status == "In Progress" %>
                                        <span style="font-style: italic">Currently Reading </span>
                                    <% else %>
                                    <%= book.read %> 
                                    <% end %> 
                                    RATING: <%= book.rating %>/10</p>
                                <p><%= book.shortsummary %> </p>
                            </figcaption>
                        </figure>
            <% end %>


           </div>
        </div>
    </div>

    <hr>