<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/books-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Books</h1>
                        <hr class="small">
                        <span class="subheading">A list of books I've read</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <% @books.each do |book| %>
        <div class="container">
                <figure class="abook" data-rating="10" data-title="So Good They Can't Ignore You - by Cal Newport" data-date="2012-10-07">
                    <a href="#" style="float:left;padding-right: 15px;"> <%= image_tag book_thumbnail(book) %></a>
                    <figcaption>
                        <h3><a href="/book/SoGood"><%= book_title(book) %></a></h3>
                        <p>ISBN: <%= book.isbn %> READ: <%= book.read %> RATING: <%= book.rating %>/10</p>
                        <p><%= book.shortsummary %> </p>
                    </figcaption>
                </figure>
    <% end %>


           </div>
        </div>
    </div>

    <hr>