<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/books-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Books</h1>
                        <hr class="small">
                        <span class="subheading">A list of books I've read</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="container">
    <p> In this page you can find books I've read.  I want to write a summary of each of the books I've read and put my personal lessons, and in order to do this, I will need to read them again. <p/>
    <p> If I'm reading the book, you will see a yellow label that states <span class="label label-warning">In Progress</span> and if already read, you will have a label that says <span class="label label-success">Read</span>, and the day I finished the book. <p/>

    <p> If you think I should include a book to my "to read" list, please do let me know though mail or through the contact form!! </p>    
    <!-- Main Content -->
     <% @books.each do |book| %>
                        <figure class="abook" data-rating="10" data-title="So Good They Can't Ignore You - by Cal Newport" data-date="2012-10-07" style="margin-bottom: 100px">
                            <a href="#" style="float:left;padding-right: 15px;"><%= image_tag book.thumburl%></a>
                            <figcaption>
                                <h3><a href="#"><%=book.title %></a>
                 <% if book.status == "In Progress" %>
                        <span class="label label-warning" style="margin-left: 15px;">
                            <%= book.status %></span></h3> 
                 <% else %>
                        <span class="label label-success" style="margin-left: 15px;">
                            <%= book.status %></span></h3> 
                 <% end %>
                                
                <p>ISBN: <%= book.isbn %> READ: 
                    <% if book.status == "In Progress" %>
                            <span style="font-style: italic">Currently Reading </span>
                    <% else %>
                            <%= book.read %> 
                    <% end %> 
                        RATING:

                            RATING:
                                     <% if book.status == "In Progress" %>
                                        <span style="font-style: italic">tbd. </span>
                                    <% else %>
                                        <%= book.rating %>/10
                                    <% end %> 

                        <p><%= book.shortsummary %></p>
                            </figcaption>
                        </figure>
            <% end %>


           </div>
        </div>
    </div>

    <hr>