 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/learning-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Always Learning</h1>
                        <hr class="small">
                        <span class="subheading">This is what I've learned until today</span>
                    </div>
                </div>
            </div>
        </div>
    </header> 

    <!-- Main Content -->
    <div class="container">
        <div class="row text-justify">
     
                <p>I believe in continuous education, and here you can see my <a href="https://trello.com/b/IV1Y1iUP/what-i-m-learning">Study Roadmap</a> inside a Trello Board. In the learning section you will find what I'm currenly studying, which can be in the  form or reading a book, or studying a MOOC (Massive Open Online Course).
                </p>
              

                <!--
                <p> If you want to see my personal notes in regards to the book or MOOC, click on the title of the specific content</p>
                -->

                <h2><%= link_to "Books", books_path %></h2>
                <br>
        
        </div>
        
            <div class="row">
            <!-- Main Content -->


            <!-- Only show books you are currently reading -->

            <% @books.each do |book| %>
                        <figure style="margin-bottom: 100px">
                            <span style="float:left;padding-right: 15px;"> <%= image_tag book.thumburl %></span>
                            <figcaption>
                                <h3> <%= link_to "#{book.title}", book_path(book) %>



                                    <% if book.status == "In Progress" %>
                                        <span class="label label-warning" style="margin-left: 15px;
"><%= book.status %></span></h3> 
                                    <% else %>
                                        <span class="label label-success" style="margin-left: 15px;
"><%= book.status %></span></h3> 
                                    <% end %>
                        

                                <p>ISBN: 
                                      <span style="font-style: italic">
                                        <%= book.isbn %> 
                                      </span>

                                    READ: 
                                    <% if book.status == "In Progress" %>
                                        <span style="font-style: italic">Currently Reading </span>
                                    <% else %>
                                      <span style="font-style: italic">   <%= book.read %> </span>
                                    <% end %> 
                                    RATING:
                                     <% if book.status == "In Progress" %>
                                        <span style="font-style: italic">tbd. </span>
                                    <% else %>
                                       <span style="font-style: italic"> <%= book.rating %>/10  </span>
                                    <% end %> 
                                <p><%= book.shortsummary %> </p>
                            </figcaption>
                        </figure>
            <% end %>

               <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="books.html">More Books &rarr;</a>
                    </li>
                </ul>
        </div>

<div class="row">
    <br>
        <h2> <%= link_to "MOOCs", moocs_path %></h2>

            <!-- Only show moocs you are currently studying -->

          <% @moocs.each do |mooc| %>
                        <figure>
                            <a href="#" style="float:left;padding-right: 15px;">

                                <%= image_tag mooc.thumburl%></a>
                            <figcaption>
                                <h3>
                                <%= link_to "#{mooc.title}", mooc_path(mooc) %>
                           
                            </a>

                             <% if mooc.status == "Studying" %>
                        <span class="label label-warning" style="margin-left: 15px;">
                            <%= mooc.status %></span></h3> 
                 <% else %>
                        <span class="label label-success" style="margin-left: 15px;">
                            <%= mooc.status %></span></h3> 
                 <% end %>
                                
                <p>INSTITUTION:
                 <span style="font-style: italic"> 
                     <%= @institutions.find(mooc.institution_id).name %> 
                </span>
                
                     STATUS: 
                    <% if mooc.status == "Studying" %>
                            <span style="font-style: italic"> Studying</span>
                    <% else %>
                          <span style="font-style: italic">    Completed </span>
                    <% end %> 

                            RATING:
                                     <% if mooc.status == "Studying" %>
                                        <span style="font-style: italic">tbd. </span>
                                    <% else %>
                                         <span style="font-style: italic"> <%= mooc.rating %>/10</span>
                                    <% end %> 
                            <br>
                           
                        <p><%= mooc.shortsummary %></p>


                            </figcaption>
                        </figure>
            <% end %>
 
        
        

          <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="moocs.html">More MOOCs &rarr;</a>
                    </li>
                </ul>
                
     </div>
 </div>

    <hr>