<%= render 'shared/page_header', bg_image: "img/moocs-bg.jpg",title: "MOOCs", subtitle: "Online Courses I've done" %>

    <!-- Main Content -->
    <div class="container">
      

    In this page you can find MOOCs I've studied or I'm studying.  I want to write a summary of each of the MOOCs I've taken part in and put my personal learnings that could help you move forward in your learning, and maybe understand if the course is good for your career progression. The challenge is that in order to do this, I will need to review the MOOCs, which takes time!
    
    <p> If currently studying, you will see a yellow label that states <span class="label label-warning">Studying</span> and if already completed, you will have a label that says <span class="label label-success">Completed</span>, and the day I finished the MOOC.  Please do let me know the MOOCs you would recommend me through the <a title="contact form" href=" contact.html">contact form</a>!! </p>

<p><strong>My MOOC recommendations at the top</strong>, or sort by:
    <a href="/moocs?sort=title" id="sort-title"> name</a>,
    <a href="/moocs?sort=date" id="sort-date">newest</a>, or
    <a href="/moocs?sort=rating" id="sort-rating">best</a>.
</p>
<hr>

  <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <!-- Main Content -->
     <% @moocs.each do |mooc| %>
                        <figure>
                        <span style="float:left;padding-right: 15px;">
                            <%= image_tag mooc.thumburl%>
                        </span>
                        
                            <figcaption>
                                <h3>
                                <%= link_to "#{mooc.title}", mooc_path(mooc) %>
                            </a>

                             <% if mooc.status == "Studying" %>
                        <span class="label label-warning" style="margin-left: 15px;">
                            <%= mooc.status %></span></h3> 
                 <% else %>
                        <span class="label label-success" style="margin-left: 15px;">
                            <%= mooc.status %></span></h3> 
                 <% end %>
                                
                <p>INSTITUTION: 
                    <span style="font-style: italic"> 
                        <%= @institutions.find(mooc.institution_id).name %> 
                    </span>

                    STATUS: 
                    <% if mooc.status == "In Progress" %>
                            <span style="font-style: italic"> Studying</span>
                    <% else %>
                          <span style="font-style: italic">  finished on  <%= mooc.finish_date.try(:strftime, '%B %Y') %></span>
                    <% end %> 

                            RATING:
                                     <% if mooc.status == "In Progress" %>
                                        <span style="font-style: italic">tbd. </span>
                                    <% else %>
                                       <span style="font-style: italic">  <%= mooc.rating %>/10
                                        </span>
                                    <% end %> 

                            <br>
                                  <% if mooc.has_certification == true %>
                                OFFICIAL CERTIFICATE:

                                <span style="font-style: italic">
                                  <%= 

                                  link_to @certificates.find(mooc.certificate_id).licenceid, @certificates.find(mooc.certificate_id).url , target: '_blank' %>
                                  </span>

                                  <% else %>
                                  <span style="font-style: italic">  No official certification obtained </span>

                                  <% end %>  

                                  
                        <p><%= mooc.shortsummary %></p>


                            </figcaption>
                        </figure>
            <% end %>

           </div>
      </div>
    </div>
    <hr>