<%= render 'shared/page_header', bg_image: "img/moocs-bg.jpg",title: "MOOCs", subtitle: "Online Courses I've done" %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <!-- Main Content -->
     <% @moocs.each do |mooc| %>
                        <figure>
                            <a href="#" style="float:left;padding-right: 15px;">

                                <%= image_tag mooc.thumburl%></a>
                            <figcaption>
                                <h3>
                                <%= link_to "#{mooc.title}", mooc_path(mooc) %>
                            </a>

                             <% if mooc.status == "Studying" %>
                        <span class="label label-warning" style="margin-left: 15px;">
                            <%= mooc.status %></span></h3> 
                 <% else %>
                        <span class="label label-success" style="margin-left: 15px;">
                            <%= mooc.status %></span></h3> 
                 <% end %>
                                
                <p>INSTITUTION: <%= @institutions.find_by(mooc.id).name %> STATUS: 
                    <% if mooc.status == "In Progress" %>
                            <span style="font-style: italic"> Studying</span>
                    <% else %>
                            Completed
                    <% end %> 

                            RATING:
                                     <% if mooc.status == "In Progress" %>
                                        <span style="font-style: italic">tbd. </span>
                                    <% else %>
                                        <%= mooc.rating %>/10
                                    <% end %> 

                        <p><%= mooc.shortsummary %></p>


                            </figcaption>
                        </figure>
            <% end %>

           </div>
        </div>
    </div>

    <hr>