

<%= render 'shared/page_header', bg_image: "img/contacts-bg.jpg",title: "Contacts through the form", subtitle: "A list messages sent through the form!" %>


<div class="container">
     <% @contacts.each do |contact| %>
         <div class="row">

             <p>
               <u><strong> MESSAGE <%= contact.id %> </strong></u><br><br>

                <%= contact.name %> contacted you on the <strong>  <%= contact.created_at.strftime("%m/%d/%Y")%> </strong> to say:
         <div class="col-md-offset-1">

                <i><%= contact.message %> </i>.  
        </div>
        <br>f you want to reply to him, click <u><%= link_to "#{contact.email}", "mailto:#{contact.email}" %> </u>.

            </p> 
    <hr>
        </div>

    <% end %>

 </div>
