
<%= render 'shared/page_header', bg_image: "img/findabook-bg.jpg",title: "Book Search Result", subtitle: "Book Title, ISBN, Thumbnail URL and Image", by:"", on:"" %>

  <div class="container">
        <div class="row">
        	<div class="col-md-8 col-md-offset-2">
        <p>
			<strong>Book Title: </strong><%= book_title(@isbn) %>
		</p>

	    <p>
			<strong>ISBN: </strong><%= @isbn %>
		</p>

		<p>
			<strong>Book URL Thumbnail: </strong><%= book_thumbnail(@isbn) %>
		</p>
			<strong>Book URL Thumbnail </strong><br>
		<%= image_tag book_thumbnail(@isbn) %></a>
	   </p>

	    <p>
	    	<br>
            <%= link_to "New Search", findabook_path, class: 'btn btn-primary' %>
         </p>
			</div>

		</div>
	</div>

	