
<%= render 'shared/page_header', bg_image: "img/books-bg.jpg",title: "Books", subtitle: "A list of books I've read" %>


<div class="container">

    <p> In this page you can find books I've read.  I want to write a summary of each of the books I've read and put my personal lessons, and in order to do this, I will need to read them again. You can also find books by their ISBN through <%= link_to "this page", findabook_path %>
    this page </p>  
    
    <p> If currently reading, you will see a yellow label that states <span class="label label-warning">In Progress</span> and if already read, you will have a label that says <span class="label label-success">Read</span>, and the day I finished the book.  If you think I should include a book to my "to read" list, please do let me know though email <a href="mailto:alex@alexswiec.com?subject=Want to recommend you a book">alex@alexswiec.com</a> or through the <a title="contact form" href=" contact.html">contact form</a> </p>

<p style="margin-bottom: 80px"><strong>My recommendations at the top</strong>, or sort by:
    <a href="/books?sort=title" id="sort-title">title</a>,
    <a href="/books?sort=date" id="sort-date">newest</a>, or
    <a href="/books?sort=rating" id="sort-rating">best</a>.
</p>
<hr>

    <!-- Main Content -->
     <% @books.each do |book| %>
                        <figure class="abook" data-rating="10" data-title="So Good They Can't Ignore You - by Cal Newport" data-date="2012-10-07" style="margin-bottom: 100px">
                            <span style="float:left;padding-right: 15px;"><%= image_tag book.thumburl%></span>
                            <figcaption>
                                <h3>
                                <%= link_to "#{book.title}", book_path(book) %>
                            </a>
                 <% if book.status == "In Progress" %>
                        <span class="label label-warning" style="margin-left: 15px;">
                            <%= book.status %></span></h3> 
                 <% else %>
                        <span class="label label-success" style="margin-left: 15px;">
                            <%= book.status %></span></h3> 
                 <% end %>
                                
                <p>
                    ISBN: 
                    <span style="font-style: italic">
                        <%= book.isbn %> 
                    </span> 

                    READ: 
                    <% if book.status == "In Progress" %>
                            <span style="font-style: italic">Currently Reading </span>
                    <% else %>
                            <span style="font-style: italic"> <%= book.read %> </span>
                    <% end %> 
                            RATING:
                                     <% if book.status == "In Progress" %>
                                        <span style="font-style: italic">tbd. </span>
                                    <% else %>
                                        <span style="font-style: italic"> </span>
                                        <%= book.rating %>/10
                                    <% end %> 

                        <p><%= book.shortsummary %></p>
                            </figcaption>
                        </figure>
            <% end %>


           </div>
        </div>
    </div>

    <hr>