<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../img/findabook-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Add a book to the site</h1>
                        <hr class="small">
                        <span class="subheading">This page is used add books manually to the site</span>
                    </div>
                </div>
            </div>
        </div>
    </header> 

    <!-- Main Content -->
    <div class="container">
        <div class="row text-justify">
            <div class="col-md-6 col-md-offset-3">
             <%= form_for :book do |f| %>
			  <p>
			    <%= f.label :isbn %><br>
			    <%= f.text_field :isbn %>
			  </p>

			  <p>
			    <%= f.label :title %><br>
			    <%= f.text_field :title %>
			  </p>
			 
			  <p>
			    <%= f.label :shortsummary %><br>
			    <%= f.text_area :shortsummary %>
			  </p>

			    <p>
			    <%= f.label :longsummary %><br>
			    <%= f.text_area :longsummary %>
			  </p>

			  <p>
			    <%= f.label :rating %><br>
			   <select name="city_id" id="city_id">
  					<option value="1">1</option>
				    <option value="2">2</option>
				    <option value="3">3</option>
				    <option value="4">4</option>
				    <option value="5">5</option>
				    <option value="6">6</option>
				    <option value="7">7</option>
				    <option value="8">8</option>
				    <option value="9">9</option>
				    <option value="10">10</option>
				</select>
			  </p>

			    <p>
			    <%= f.label :date %><br>
			   <select name="day" id="day">
  					<option value="1">1</option>
				    <option value="2">2</option>
				    <option value="3">3</option>
				    <option value="4">4</option>
				    <option value="5">5</option>
				    <option value="6">6</option>
				    <option value="7">7</option>
				    <option value="8">8</option>
				    <option value="9">9</option>
				    <option value="10">10</option>
				    <option value="11">11</option>
				    <option value="12">12</option>
				    <option value="13">13</option>
				    <option value="14">14</option>
				    <option value="15">15</option>
				    <option value="16">16</option>
				    <option value="17">17</option>
				    <option value="18">18</option>
				    <option value="19">19</option>
				    <option value="20">20</option>
				    <option value="21">21</option>
				    <option value="22">22</option>
				    <option value="23">23</option>
				    <option value="24">24</option>
				    <option value="25">25</option>
				    <option value="26">26</option>
				    <option value="27">27</option>
				    <option value="28">28</option>
				    <option value="29">29</option>
				    <option value="30">30</option>
				    <option value="31">31</option>
				</select>
				  <select name="month" id="month">
  					<option value="1">1</option>
				    <option value="2">2</option>
				    <option value="3">3</option>
				    <option value="4">4</option>
				    <option value="5">5</option>
				    <option value="6">6</option>
				    <option value="7">7</option>
				    <option value="8">8</option>
				    <option value="9">9</option>
				    <option value="10">10</option>
				    <option value="11">11</option>
				    <option value="12">12</option>
				</select>

				  <select name="year" id="year">
  					<option value="1">2006</option>
				    <option value="2">2</option>
				    <option value="3">3</option>
				    <option value="4">4</option>
				    <option value="5">5</option>
				    <option value="6">6</option>
				    <option value="7">7</option>
				    <option value="8">8</option>
				    <option value="9">9</option>
				    <option value="10">10</option>
				    <option value="11">11</option>
				    <option value="12">12</option>
				</select>
			
			 
			  <p>
			    <%= f.submit %>
			  </p>
			<% end %>
            </div>
                
       </div>
    </div>

    <hr>