
<%= render 'shared/page_header', bg_image: "../img/findabook-bg.jpg",title: "Add a book to the site", subtitle: "his page is used add books manually to the site" %>


    <!-- Main Content -->
    <div class="container">
    	<%= render 'shared/errors', obj: @book %>
        <div class="row text-justify">
            <div class="col-md-6 col-md-offset-3 well">
             <%= form_for @book, url: books_path  do |f| %>
			  <p>
			    <%= f.label :isbn %><br>
			    <%= f.text_field :isbn %>
			  </p>

			  <p>
			    <%= f.label :title %><br>
			    <%= f.text_field :title %>
			  </p>
			 
			  <p>
			    <%= f.label :shortsummary %><br>
			    <%= f.text_area :shortsummary %>
			  </p>

			    <p>
			    <%= f.label :longsummary %><br>
			    <%= f.text_area :longsummary %>
			  </p>

			  <p>
			    <%= f.label :rating %><br>
			   <select name="rating">
  					<option value="1">1</option>
				    <option value="2">2</option>
				    <option value="3">3</option>
				    <option value="4">4</option>
				    <option value="5">5</option>
				    <option value="6">6</option>
				    <option value="7">7</option>
				    <option value="8">8</option>
				    <option value="9">9</option>
				    <option value="10">10</option>
				</select>
			  </p>

			    <%= f.label :status %><br>
			   <select name="status">
  					<option value="In Progress">In Progress</option>
				    <option value="Read">Read</option>
			   </select>
			  </p>

			 <p>

				<br><br>
				If you finished the book, enter the date you finished it:<br>
				<input type="date" name="read"><br><br>
			 </p>

			  <p>
			    <%= f.label :thumburl %><br>
			    <%= f.text_field :thumburl %>
			  </p>


			  <p>
			    <%= f.submit %>
			  </p>
			<% end %>
            </div>
                
       </div>
    </div>

    <hr>