<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../img/findabook-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1><%= @book.title %></h1>
                        <hr class="small">
                        <span class="subheading">
                                
                <p>ISBN: <%= @book.isbn %> READ: 
                    <% if @book.status == "In Progress" %>
                            <span style="font-style: italic">Currently Reading </span>
                    <% else %>
                            <%= @book.read %> 
                    <% end %> 
                        RATING:

                            RATING:
                                     <% if @book.status == "In Progress" %>
                                        <span style="font-style: italic">tbd. </span>
                                    <% else %>
                                        <%= @book.rating %>/10
                                    <% end %> 

                      

                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header> 

    <div class="container">
        <div class="row">

                <figure class="abook" data-rating="10" data-title="So Good They Can't Ignore You - by Cal Newport" data-date="2012-10-07" style="margin-bottom: 100px">
                            <a href="#" style="float:left;padding-right: 15px;"><%= image_tag @book.thumburl%></a>
                            <figcaption>
                   <p>
                      <strong>Short Summary </strong><br><br>

                <%= @book.shortsummary %></p>
                            </figcaption>
                        </figure>
        </div>

        <div class="row">
                <div class="col-md-offset-1">
                    <p>
                    <%= link_to "Books Index", books_path, class: 'btn btn-primary' %>
                    </p>
                </div>
        </div>
    </div>