 <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                  <!--
                <a class="navbar-brand" href="index.html"> Alex Swiec</a>
            -->
                <%= link_to "Alex Swiec", root_path, class: "navbar-brand" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--     <li>
                        <%= link_to "Español", root_path %></a>
                    </li>

                  
                    <li class="dropdown transparentbar">
                         <a href="#" class="dropdown-toggle dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <span class="caret"></span></a>
                     <ul class="dropdown-menu">
                         <li><a href="#" class="trans-box">English</a></li>
                        <li><a href="#" class="trans-box">Spanish</a></li>
                     </ul>
                  </li> -->
                  
                      <li>
                        <%= link_to "Blog", "https://medium.com/@swiecone", :target => "_blank" %>
                    </li>
                    <li>
                        <%= link_to "Learning", learning_path %>
                    </li>

                    <li>
                        <%= link_to "About", about_path %>
                    </li>
                   
                    <li>
                        <%= link_to "Now", now_path %>
                    </li>
                    <li>
                        <%= link_to "Contact", contact_path %>
                    </li>

                    <% if logged_in? %>
                        <li class="dropdown">
                            <%= link_to '#', class: "dropdown-toggle", "data-toggle" => "dropdown" do %>
                              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 

                              <%= current_user.name %>   <b class="caret"></b>
                        <% end %>
                        <ul class='dropdown-menu black-link'>
                            <li><%= link_to "Add Book", new_book_path , style:"color:black" %></li>
                            <li><%= link_to "Add MOOC", new_mooc_path, style:"color:black" %></li>
                            <li><%= link_to "Messages", contacts_path , style:"color:black" %></li>
                            <li class="divider"></li>
                            <li><%= link_to "Logout", logout_path , style:"color:black" %></li>
                          
                            

                        </li>
                    <% end %> 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>