<!DOCTYPE html>
<html>
    <%= render 'layouts/html_header' %>

<body>
    <% #@english_language = true %> 
   
    <% if english_language? %> 
        <%= render 'layouts/english_navbar' %>
    
    <% elsif %> 
        <%= render 'layouts/espanish_navbar' %>
    
    <% end %> 

		<%= yield %>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/javascripts' %>

</body>
</html>
