<!DOCTYPE html>
<html>
    <%= render 'layouts/html_header' %>

<body>
   
        <%= render 'layouts/navbar' %>

		<%= yield %>

    <%= render 'layouts/footer' %>
    <%= render 'layouts/javascripts' %>

</body>
</html>
